@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';
.imagenInd{
    width: 320px;
    
}
.botoncito{
    background-color: lightblue;
    border: 1px solid;
}
